<!DOCTYPE html>
<html>
<head>
	<title>Author</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	    <div class="hero">
    <div class="nav-bar">
      <div class="nav-logo">
        <img src="https://www.nicepng.com/png/detail/310-3101454_safe-food-logo-banner-clip-art.png">
      </div>
      <div class="nav-link">
        <ul>
          <a href="/"><li>HOME</li></a>
          <a href=about><li>ABOUT THE DATASET</li></a>
          <a href="author"><li>AUTHOR'S DETAILS</li></a>
        </ul>
        <button type="button" class="btn">SIGN UP</button>
      </div>
    </div>
    <p style="

    margin-left: 2%;
    color: yellow;
    font-size: 22px;
    margin-right: 2%;
">This work is a sole creation of Mr.Anubhav Sanyal. He is currently working as a Software Engineer (Intern) at STMicroelectronics, Greater Noida, India. He is also a final year student pursuing his Bachelor's in Computer Science and Engineering from Jaypee Institute of Information Technology, Noida. In case of any clarifications/suggestions/feedbacks, he can be reached via Linkedin (preferred) and Github.</p>
    <p>
    	<a style="
    color: white;
    font-size: 22px;
    margin-left: 50%;
    margin-top: 4%;
    " href="https://www.linkedin.com/in/anubhav-sanyal-424852192/">Anubhav's Linkedin </a>
    </p>
    <br>
    <br>
    <p>
    	<a style="
    color: white;
    font-size: 22px;
    margin-left: 50%;
    margin-top: 2%;
   " href="https://www.github.com/Anubhav9">Anubhav's Github </a>
    </p>
	
</div>




</body>
</html>
